img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.art {
  height: 100%;
  width: 163%px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: #bfd8e3;
  ;
}

.art ul{
  list-style-type: none;
}

.a {
  margin: 12px;
  border: 2px solid #ba99c9;
  padding: 4px;
  background-color: #99c9c9;
}

.b {
  margin: 12px;
  border: 2px solid #bdbfbb;
  padding: 4px;
  background-color: #786e07;
}

.c {
  margin: 12px;
  border: 2px solid #000000;
  padding: 4px;
  background-color: #780404;
}

.d {
  margin: 12px;
  border: 2px solid #095454;
  padding: 4px;
  background-color: #7dd1b8;
}

.e {
  margin: 12px;
  border: 2px solid #165409;
  padding: 4px;
  background-color: #47294d;
}